.Rproj.user\
*.pper
.Rproj.user/DF58E2E5/rmd-outputs
.Rproj.user/DF58E2E5/persistent-state
.Rproj.user/DF58E2E5/sources/session-44bb1a98/lock_file
.Rproj.user/DF58E2E5/sources/prop/INDEX
.Rproj.user/DF58E2E5/sources/prop/C01F4EF6
.Rproj.user/DF58E2E5/sources/session-44bb1a98/43206DB6-contents
.Rproj.user/shared/notebooks/paths
